h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 38px;
  line-height: 44px;
  font-weight: bold;
}

a {
  text-decoration: underline;
}

.modal-wrapper {
  position: absolute;
  left: 0%;
  top: 0%;
  right: auto;
  bottom: auto;
  z-index: 1000;
  display: block;
  width: 100%;
  height: 100vh;
  background-color: #transparent;
}

.modal-wrapper.hidden {
  display: none;
}

.modal-content {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 30%;
  height: 45vh;
  margin: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
}

.modal_title {
  margin-bottom: 20px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  text-align: center;
}

.body {
  font-family: 'Fa 400', sans-serif;
  font-weight: 400;
}

.loader-wrapper {
  position: absolute;
  left: 0%;
  top: 0%;
  right: auto;
  bottom: auto;
  display: block;
  width: 100%;
  height: 100vh;
  background-color: transparent;
}

.loader-wrapper.hidden {
  display: none;
}

.loader-content {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 30%;
  height: 45vh;
  margin: auto;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
}

.image {
  display: block;
  margin: 0px;
}

.confirmation {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.title-content {
  text-align: center;
}

.yes_button {
  margin-right: 20px;
}

.no_button {
  margin-left: 20px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.heading {
  font-size: 38px;
}
@font-face {
  font-family: 'Fa 400';
  src: url('https://uploads-ssl.webflow.com/6059d3f8730f6145a529a455/6059ec0ad8adc60a859c4c97_fa-regular-400.woff2') format('woff2'), url('https://uploads-ssl.webflow.com/6059d3f8730f6145a529a455/6059ec0a1023d66beb757e83_fa-regular-400.eot') format('embedded-opentype'), url('https://uploads-ssl.webflow.com/6059d3f8730f6145a529a455/6059ec0bca058771ebef6123_fa-regular-400.woff') format('woff'), url('https://uploads-ssl.webflow.com/6059d3f8730f6145a529a455/6059ec0a9579dd56c4febbe7_fa-regular-400.ttf') format('truetype'), url('https://uploads-ssl.webflow.com/6059d3f8730f6145a529a455/6059ec0a96c5245f3bf0facf_fa-regular-400.svg') format('svg');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Fa brands 400';
  src: url('https://uploads-ssl.webflow.com/6059d3f8730f6145a529a455/6059ec0afc8ed115954fe947_fa-brands-400.woff2') format('woff2'), url('https://uploads-ssl.webflow.com/6059d3f8730f6145a529a455/6059ec0aa1fe0cf3810894b7_fa-brands-400.eot') format('embedded-opentype'), url('https://uploads-ssl.webflow.com/6059d3f8730f6145a529a455/6059ec0a6229fa52688aee5c_fa-brands-400.woff') format('woff'), url('https://uploads-ssl.webflow.com/6059d3f8730f6145a529a455/6059ec0aa5638fbeb1fab360_fa-brands-400.ttf') format('truetype'), url('https://uploads-ssl.webflow.com/6059d3f8730f6145a529a455/6059ec0bc8681475479d71b3_fa-brands-400.svg') format('svg');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Fa solid 900';
  src: url('https://uploads-ssl.webflow.com/6059d3f8730f6145a529a455/6059ec0ae70d78a234a07752_fa-solid-900.woff2') format('woff2'), url('https://uploads-ssl.webflow.com/6059d3f8730f6145a529a455/6059ec0a912b55565e6a81bf_fa-solid-900.eot') format('embedded-opentype'), url('https://uploads-ssl.webflow.com/6059d3f8730f6145a529a455/6059ec0a9579dd1978febbe8_fa-solid-900.woff') format('woff'), url('https://uploads-ssl.webflow.com/6059d3f8730f6145a529a455/6059ec0a6229fa1d528aee5d_fa-solid-900.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
